<div class="movie" [class.dark-theme]="isDarkTheme">
  <div *ngFor="let movie of movies">
    <div class="title">{{movie.title}}</div>
   <div class="tagline">{{movie.tagline}} </div>
   <div class="overview">
    {{movie.overview}}
  </div>
 <div class="clear"></div>
<div class="details">
  <div class="question">Release Date</div>
  <div class="chips">{{movie.release_date}}</div>
  <div class="question">Popularity</div>
  <div class="chips">{{movie.popularity * 100}} %</div>
  <div class="question">Status</div>
  <div class="chips">{{movie.status}}</div>
  <div class="question">Budget:</div>
  <div class="chips">{{movie.budget | currency : 'USD' : true}}</div>
  <div class="question">Revenue:</div>
  <div class="chips">{{movie.revenue | currency : 'USD' : true}}</div>
  <div class="question">Production Companies</div>
  <md-grid-list cols="2" rowHeight="400px">
      <md-grid-tile *ngFor="let prod of movie.production_companies" >
      <img class="poster" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="photo of {{movie.title}}">
        <md-grid-tile-footer>
         <h3 md-line>{{prod.name}}</h3>
         <button md-icon-button  (click)="showProfile(movie)">
            <md-icon>info</md-icon>
          </button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  <div class="question">Genres</div>
  <span class="chips" *ngFor="let genres of movie.genres">
    {{genres.name}}
  </span>
</div>
  </div>
</div>

  